# build output
dist/
# netlify cli cache
.netlify/
# generated types
.astro/
# dependencies
node_modules/
# logs
npm-debug.log*
# environment variables
.env
.env.production
# macOS / editor cruft
.DS_Store
